// Colors
$brightOrange: hsl(31, 77%, 52%);
$darkCyan: hsl(184, 100%, 22%);
$veryDarkCyan: hsl(179, 100%, 13%);
$transparentWhite: hsla(0, 0%, 100%, 0.75); //(paragraphs)
$veryLightGray: hsl(0, 0%, 95%); // (background, headings, buttons):

// Font-Family 
$bigShoulders: 'Big Shoulders Display', cursive;
$lexendDeca: 'Lexend Deca', sans-serif;

// Font-Size
$fontHeader: 2.5rem;    // 40px Header
$fontBody: 1.125rem;   // 18px Body & Button

// Font-Weight
$weightRegular: 400;    // 400 Lexend Deca
$weightBold: 700;    // 700 Big Shoulders